## all ##
**/__pycache__/
**/.env
**/__init__.py
**/server/
**/*.db
**/*.csv
**/*.ps1

## Old "Le Tavernier" ##
old/scans/
old/ressources/board.png
old/ffmpeg/
old/*.jpg
old/test.py
old/emote.py

## MacGybot ##
MacGybot/commands/calendrier/generated/*

## Le_Tavernier ##
